.formstyle {
  padding: 24px;
  border: 2px solid grey;
  width: 350px;
}

.label {
  margin-bottom: 10px;
}

.input {
  margin-top: 10px;
  margin-bottom: 8px;
}

.button {
  margin-top: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1px 10px;
}

.button:hover {
  background: rgb(240, 240, 240);
}
